<div class="row">
    <div class="col-2 p-3 mb-2 bg-primary text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium finibus libero, id faucibus quam porttitor ut. Donec hendrerit pulvinar ex vel euismod. Sed in facilisis odio. Proin sed ligula eget quam pharetra varius. Phasellus erat ligula, hendrerit a facilisis sed, dignissim quis massa. Pellentesque tristique malesuada hendrerit. Nullam mi nibh, ornare sed congue in, pulvinar eget arcu. Maecenas cursus ipsum eget augue sodales, id congue elit commodo. Suspendisse pulvinar nulla lectus, in laoreet magna blandit eget. Aliquam vitae eros et ligula vestibulum euismod. Ut lobortis elit quis metus aliquet consequat./div>
    
    </div>
